bidict==0.21.2
click==8.0.1
flask==2.0.1
flask-socketio==5.1.1
Flask-Cors==3.0.8
itsdangerous==2.0.1
jinja2==3.0.1
markupsafe==2.0.1
python-engineio==4.2.1
python-socketio==5.4.0
werkzeug==2.0.1
requests==2.31.0