<head>
	<link rel="stylesheet" href="./static/style.css">
	<!-- https://stackoverflow.com/questions/6725288/svg-text-inside-rect -->
</head>
<body>
	<section id="sec">
			<div class="popup" id="popup">
			</div>
			<div>
			<article id="canvas">
				<div id="tooltip" display="none" style="position: absolute; display: none;"></div>
			</article>
			<aside id="canvas">
					<label>Actions</label><br>
					<div class="iconbox" id="toolbox"></div>
					<br><br>
					<label>Add Network</label>
					<input type='text' name='netname' id='netname' placeholder='Network Name'/><br>
					<input type='text' name='cidr' id='cidr' placeholder='CIDR'/><br>
					<button class="mybtn" onclick="functions.addNetwork()">add</button>
					<button class="mybtn" onclick="functions.showNetworks()">Show Networks</button>
			</aside>
			</div>
	</section>

</body>
<script type="text/javascript" src="./static/vars.js"></script>
<script type="text/javascript" src="./static/components.js"></script>
<script>
	window.onload = components.toolbox();
	window.onload = components.mycanvas();
</script>
<script type="text/javascript" src="./static/functions.js"></script>
<script>
	window.onload = functions.LoadEnvironment();
</script>
